@media screen and (max-width: 991px) {

    /* ========Navbar Responsiveness at 991 px ======= */
    .show,
    .open-aside {
        display: block;
    }

    .hide {
        display: none;
    }

    .navbar-nav .nav-item {
        list-style: none;
    }

    /* ========= 1.1 Hero Section Rresponsiveness at 991px Start ========== */
    #Hero .carousel-item {
        height: 70vh;
    }

    #Hero h1 {
        font-size: 74px;
        line-height: 80px;
    }

    #Hero .carousel-item div:first-child {
        margin: 100px 40px;
        gap: 10px;
    }

    #Hero .carousel-item div:first-child p {
        font-size: 18px;
    }

    #Hero .carousel-item div:first-child a {
        font-size: 20px;
    }
}

@media screen and (max-width: 768px) {

    /* ========= 1.1 Hero Section Rresponsiveness at 768px Start ========== */
    #Hero h1 {
        font-size: 54px;
        line-height: 60px;
    }

    #Hero .carousel-item div:first-child {
        margin: 100px 40px;
        gap: 0px;
    }

    #Hero .carousel-item div:first-child p {
        font-size: 16px;
        padding: 0px 160px 0px 0px;
    }

    #Hero .carousel-item div:first-child a {
        font-size: 14px;
    }

    /* ========= 1.1 Hero Footer Section Rresponsiveness at 768px Start ========== */
    #Herofooter {
        margin-top: 15px;
        padding: 10px 0px;
    }

    #Herofooter div {
        margin-top: 10px;
        width: 135px;
    }

    #Herofooter p {
        font-weight: bold;
        font-size: 15px;
        margin: 0;
    }

    #Herofooter figure {
        width: 50px;
        height: 50px;
    }

}

@media screen and (max-width: 600px) {

    /* ========= 1.1 Hero Section Rresponsiveness at 600px Start ========== */
    #Hero .carousel-item div:first-child p {
        padding: 0px 0px 0px 0px;
    }
}







/*   ================= product detail section ================== */

@media screen and (max-width: 400px) {

    /* ========= 3.1 product detail Rresponsiveness at 400px Start ========== */
    #Prodcut-detail select{
        margin-bottom: 12px;
    }
    #Prodcut-detail img{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

}